on: [workflow_dispatch]

jobs:
  bundle-install:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.1.0']
        bundler: ['2.3.5']

    steps:
      - uses: actions/checkout@v2
      
      - name: clean cache
        run: |
          rm /opt/hostedtoolcache/Ruby/${{ matrix.ruby-version }}/x64/lib/ruby/gems/${{ matrix.ruby-version }}/specifications/*
          cd /opt/hostedtoolcache/Ruby/${{ matrix.ruby-version }}/x64/lib/ruby/gems/${{ matrix.ruby-version }}/specifications/*
          ls -a 

      - name: Setup Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler: ${{ matrix.bundler }}

      - run: bundle version

      - name: Add Gemfile
        run: |
          cat > Gemfile << EOM
          source "https://rubygems.org"
          source "https://rubygems.pkg.github.com/namratajha" do
            gem "sample_gem_namratajha"
          end
          EOM
      - name: Authenticate using Bundler
        run: bundle config https://rubygems.pkg.github.com/namratajha namratajha:${{ secrets.READ_PACKAGES_TOKEN_WITH_REPO }}

      - name: Install using Bundler
        run: bundle install -V
